body {
    font-family:sans-serif;
    text-align: center;
    margin-bottom:0;
}
#heading {
    margin: 1em;
}
#title {
    font-weight: bold;
    font-size: 3em;
    margin-top: 0;
    padding-top: 5px;
}
#matset {
    column-count: 2;
    column-span: all;
}
footer {
    background: #dddddd;
    margin-top: 90px;
}
h1 {
    margin-top: 0;
}
#setup-table {
    margin-left: auto;
    margin-right: auto;
}
th {
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
}
td {
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
}
table {
    border-collapse: collapse;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}
table, th, td {
    border: 2px solid #000000;
    font-size: 1.05em;
} 
#summary {
    margin: 2px;
}
.main-element {
    background: #eeeeee;
    padding-bottom: 5px;
    border: 2px solid #000000;
}
